.Placeholder{
}

object{
  width:50%;
  max-width:400px;
  margin:auto;
}

.Placeholder > p{
  font-size: 22pt;
  text-align:center;
  color:black;
}

.message{
  font-size: 22pt;
  text-align:center;
  color:black;
}

