.Placeholder{
}

object{
  padding: 15% 0px;
  width:50%;
  margin:auto;
}

.Placeholder > p{
  font-size: 22pt;
  text-align:center;
  color:black;
}

.message{
  font-size: 22pt;
  text-align:center;
  color:black;
}

